---
http_interactions:
- request:
    method: get
    uri: https://uat-tes.alfastrah.ru/travel-ext-services/TravelExtService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="TravelExtServiceImplService" targetNamespace="http://vtsft.ru/travelExtService/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vtsft.ru/travelExtService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://vtsft.ru/travelExtService/" xmlns:tns="http://vtsft.ru/travelExtService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="agent" type="tns:operator"/>
        <xs:element name="availableProductsRequest">
        <xs:complexType>
        <xs:complexContent>
        <xs:extension base="tns:baseRequest">
        <xs:sequence/>
        </xs:extension>
        </xs:complexContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="availableProductsResult">
        <xs:complexType>
        <xs:complexContent>
        <xs:extension base="tns:baseResult">
        <xs:sequence>
        <xs:element minOccurs="0" name="productList" type="tns:productList"/>
        </xs:sequence>
        </xs:extension>
        </xs:complexContent>
        </xs:complexType>
        </xs:element>
        <xs:element name="batchCalculatePolicyRequest">
        <xs:complexType>
        <xs:complexContent>
        <xs:extension base="tns:basePolicyRequest">
        <xs:sequence/>
        </xs:extension>
        </xs:complexContent>
        </xs:complexType>
        </xs:element>
        <xs:[...]
- request:
    method: post
    uri: https://uat-tes.alfastrah.ru/travel-ext-services/TravelExtService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://vtsft.ru/travelExtService/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:confirmPolicyRequest><tns:operator><tns:code>TestBusOperator</tns:code></tns:operator><tns:policyId>26784313</tns:policyId></tns:confirmPolicyRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://vtsft.ru/travelExtService/confirmPolicy"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><confirmPolicyResult
        xmlns="http://vtsft.ru/travelExtService/"><returnCode><code>OK</code></returnCode><tesVersion><environmentId>DEVenvironment</environmentId><buildVersion>20180613</buildVersion></tesVersion><series>888TEST.</series><fullNumber>26784313</fullNumber><policyDocument><url>https://uat-tes.alfastrah.ru/travel-ext-services/reports?parameters=7962FF73070639FEBDCB65C388E284FC2E5FD14B0EE30AE35817FECB2C91604CAAC3034F9B0B6E263831B22E793C176A</url></policyDocument></confirmPolicyResult></soap:Body></soap:Envelope>
  recorded_at: Wed, 13 Jun 2018 12:04:29 GMT
recorded_with: VCR 4.0.0
