---
http_interactions:
- request:
    method: get
    uri: https://vesta.alfastrah.ru/travel-ext-services/TravelExtService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://vtsft.ru/travelExtService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TravelExtServiceImplService" targetNamespace="http://vtsft.ru/travelExtService/">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://vtsft.ru/travelExtService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://vtsft.ru/travelExtService/">
          <xs:element name="agent" type="tns:agent"/>
          <xs:element name="availableProductsRequest">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="tns:baseRequest">
                  <xs:sequence/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="availableProductsResult">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="tns:baseResult">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="productList" type="tns:productList"/>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="batchCalculatePolicyRequest">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="tns:basePolicyRequest">
                  <xs:sequence/>
                </xs:extension>
         [...]
- request:
    method: post
    uri: https://vesta.alfastrah.ru/travel-ext-services/TravelExtService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://vtsft.ru/travelExtService/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://vtsft.ru/offersService/"><env:Body><tns:getPolicyRequest><tns:operator><tns:code>BUSFOR</tns:code></tns:operator><tns:policyId>46596394</tns:policyId></tns:getPolicyRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://vtsft.ru/travelExtService/getPolicy"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PHNvYXA6RW52ZWxvcGUgeG1sbnM6c29hcD0iaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvc29hcC9lbnZlbG9wZS8iPjxzb2FwOkJvZHk+PGdldFBvbGljeVJlc3VsdCB4bWxucz0iaHR0cDovL3Z0c2Z0LnJ1L3RyYXZlbEV4dFNlcnZpY2UvIiB4bWxuczpuczI9I[...]
